<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shoe shopping site</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body>
  <div style="background-color: #007092;">
  {%if request.user.is_authenticated%}
    {% include "shoeshop/customer_navbar.html" %}
  {%else%}
    {% include "shoeshop/about_navbar.html" %}
  {%endif%}
  
</div>
  <br><br><br>
  <center>
<h4 style="width: 700px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: left; font-size: 25px;">
  This project is build by ALX Software engineers a team of three students.<br>
  This project is also for portfolio and development purpose <br><br></h4>
  
  <p style="width: 700px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: left;">
  Welcome to our ecommerce website where we sell a variety of high-quality shoes online. Our selection includes everything from comfortable everyday shoes to stylish dress shoes and everything in between. We strive to provide our customers with a seamless shopping experience and offer a wide range of sizes and styles to choose from. We are confident that you will find the perfect pair of shoes to suit your needs on our site. <br><br>
  Thank you for visiting and happy shopping!
</p><br>
  
  
  </center>
<br><br><br><br><br>
  {% include "shoeshop/footer.html" %}
</body>

</html>
