<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/admin_dashboard_cards.css">
</head>

<body>
  <div class="market-updates">
    <div class="row-md-2 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-7 market-update-left">
          <h3>{{customercount}}</h3>
          <h4>Registered Customer</h4>

        </div>
        <div class="col-md-5 market-update-right">
          <i class="fa fa-users"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="row-md-2 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-7 market-update-left">
          <h3>{{productcount}}</h3>
          <h4>Total Product</h4>

        </div>
        <div class="col-md-5 market-update-right">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="row-md-2 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-7 market-update-left">
          <h3>{{ordercount}}</h3>
          <h4>Total Orders</h4>

        </div>
        <div class="col-md-5 market-update-right">
          <i class="fa fa-bar-chart"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>

  </div>
  <br><br>
</body>

</html>
