{% extends 'shoeshop/homebase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/index.css">

<div class="row">
  <div class="col-md-12 carousel slide" id= "myslider" data-ride= "carousel">
    <div class="slider-container carousel-inner">      
      
      <div class="item active">
        <img src="{% static 'product_image/ecom-banner1.JPG' %}">
      </div>

      <div class="item">
        <img src="{% static 'product_image/ecom-banner1.png' %}">
      </div>

      <div class="item">
        <img src="{% static 'product_image/ecom-banner3.JPG' %}">
      </div>

      <div class="item">
        <img src="{% static 'product_image/ecom-banner4.JPG' %}">
      </div>

    </div>
  </div>
</div>


{%if products%}

<h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
<br>

<!-- products data start -->
  <div class="row">
      {% for p in products %}
      <!-- card1 -->
      <div class="column">
        <div class="container page-wrapper" style="width: 450px;">
          <div {{p.brand_name}} class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <img class="img" src="{% static p.product_image.url %}" alt="product pic" height="300px" width="300px">
                  <div class="img-info">
                    <div class="info-inner">
                      <span style="background-color:#3e454c; color:fbfbfb;"class="p-company">Brand:{{p.brand_name}}</span>
                      <span style="background-color:#3e454c; color:fbfbfb;"class="p-company">Name: {{p.name}}</span>
                    </div>
                    <div class="a-size">{{p.description}}<br>
                      Size:  {{p.size}}
                    </div>
                    
                  </div>
                 
                </div>
  
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
                  <a class="cart" href="{% url 'add-to-cart' p.id  %}">
                    <span class="price">${{p.price}}</span>
                    <span class="add-to-cart">
                      <span class="txt"><i class="fa fa-shopping-cart"></i> Add To Cart</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- card1 end -->
{% if forloop.counter|divisibleby:"3" %}
    </div>

  <div class="row">
          <br><br><br>
{% endif %}
  {% endfor %}
  </div>
<!-- products data end-->
{%else%}
<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{%endif%}


    {%if messages %}
    {%for message in messages%}
    alert('{{message}}');
    {% endfor %}
    {% endif %}

<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
