{% extends 'shoeshop/homebase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/index.css">


<!-- <link rel="stylesheet" href="/static/styles.css"> -->
<script>
var img= document.getElementById("imgs")
var slides = ["/static/images/2023-banner.jpg","/static/images/ecom-banner1.jpg","/static/images/ecom-banner3.JPG"];
var start = 0;
function slider(){
    if (start<slides.length){
        start=start+1;
      }else{
        start=1;
    }
    console.log(img);
    imgs.innerHTML = "<img src="+slides[start-1]+">"
}
setInterval(slider,2000);
</script>
<style>

.slider {
  width: 100%;
  height: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 5px auto;
  /* position: relative; */
  overflow: hidden; 
  text-align: center;
  /* max-width: 100%; */
  
  /* position: absolute; */
  top: 0;
  left: 100%;
  z-index: 10;
  /* padding: 8em 1em 0; */
  background-size: cover;
  transition: left 0s .75s;
}
#imgs{
  width: 100%;
  height: 20%;
  max-width: 100%;

  object-fit: cover;
  transition: left 0s .75s;
}
.img{
  margin-top: 0;
}

</style>
    <div class="slider">
      <div id="imgs">
          <img src="/static/images/banner-running-shoe.jpeg" alt="">
      </div>
    </div>

{%if products%}

<h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
<br>

<!-- products data start -->
  <div class="row" style="padding-bottom: 50px;">
      {% for p in products %}
      <!-- card1 -->
      
      <div class="column" >
        <div class="container page-wrapper" style="width: 350px;">
          <div class="page-inner">
            <div class="row" style="padding-bottom: 50px;">
              <div class="el-wrapper">
                <div class="box-up">
                  <img class="img" src="{% static p.product_image.url %}" alt="product pic" height="300px" width="300px">
                  <div class="img-info">
                    <div class="info-inner">
                      <span style="background-color:#3e454c; color:fbfbfb;"class="p-company">Brand:{{p.brand_name}}</span>
                      <span style="background-color:#3e454c; color:fbfbfb;"class="p-company">Name: {{p.name}}</span>
                    </div>
                    <div class="a-size">{{p.description}}<br>
                      Size:  {{p.size}}
                    </div>
                  </div>
                </div>
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
                  {{p.brand_name}}
                  <a class="cart" href="{% url 'add-to-cart' p.id  %}">
                    <span class="price">${{p.price}}</span>
                    <span class="add-to-cart">
                      <span class="txt"><i class="fa fa-shopping-cart"></i> Add To Cart</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
<!-- card1 end -->
{% if forloop.counter|divisibleby:"3" %}
    </div>

  <div class="row" style="padding-bottom: 50px;">
          <br><br><br>
{% endif %}
  {% endfor %}
  </div>
<!-- products data end-->
{%else%}
<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{%endif%}

<br><br><br>
{% endblock content %}
