<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shoe shopping Site</title>
    <link rel="stylesheet" href="/static/customerlogin.css">
  </head>
  <body>
    <div style="background-color: rgba(0, 0, 0, 0.658);">
    {% include "shoeshop/navbar.html" %}
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post">
                  {% csrf_token %}
                    <h1>Login</h1>
                    <div class="username">
                      <h4>Account:</h4>
                        {% render_field form.username class="form-control" placeholder="Username" autocomplete="on" %}
                    </div>
                    
                    <div class="password">
                      <h4>Password:</h4>
                      {% render_field form.password class="form-control" placeholder="Password" %}
                    </div>
                      
                     <input type="submit" name="" value="Login" >
                     
                      <h3 class="thirdpart-login-text" style="text-align: left; color: white; margin:0px 0px;">Sign in with:   
                                                                  
                      <a href="#" class="fa fa-linkedin" style="background-color: white; "></a>
                      <a href="#" class="fa fa-google" style="background-color: white; color: red;"></a> 
                      <a href="#" class="fa fa-twitter"></a>
                    </h3>
                    <h3 style="color: #ffffff; text-align: right; margin: 0px 0px;"><a href="/customersignup" >Join for free </a></h3>
                  </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
{% include "shoeshop/footer.html" %}
  </body>
</html>
