{% extends 'shoeshop/customer_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/payment_success.css">
<div class="success-page" style="top:auto;">
   <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
  <h2>Payment Successful !</h2>
  <p>We are delighted to inform you that we received your payments.</p>
  <br>
  <br>
  <a style="text-decoration:none;" href="/my-order" class="btn btn-success btn-lg">View Orders/Track Orders</a>
  <a style="text-decoration:none;" href="/customer-home">Continue Shopping</a>
</div>
<br><br><br><br>
<br><br><br><br>
{% endblock content %}
