  a:link {
    text-decoration: none;
  }

  h6 {
    text-align: center;
  }

  .row {
    margin: 100px;
  }

  .float{
  position:fixed;
  width:70px;
  height:70px;
  bottom:60px;
  right:60px;
  background-color:rgb(0, 112, 146);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 5px 5px 5px #505050;
}

.my-float{
  margin-top:22px;
}