body {
    background-color: rgba(130, 229, 247, 0.467);
}

#navbar {
    background-color: rgb(0, 112, 146);
    color: rgb(4, 71, 2);
}

.row1 {
    padding-top: 10px;
    padding-right: 50px
}

.row2 {
    padding-bottom: 20px
}

.navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px
}

.navbar-button {
    background-color: #e5bc41;
    border: 1px solid #e5bc41;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer
}

.cart-button {
    /* background-color: #bfbfbf; */
    background-color: #E5BC41;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none
}

.cart-button:hover {
    text-decoration: none;
    color: rgb(253, 105, 105);
    cursor: pointer
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px
}

.dropdown:hover {
    background-color: #fff
}

.dropdown:hover .links {
    color: #000
}

.dropdown:hover .dropdown-menu {
    display: block
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px
}

.links {
    color: #fff;
    text-decoration: none
}

.links:hover {
    color: #fff;
    text-decoration: none
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px
}

.profile-li {
    padding-top: 2px
}

.largenav {
    display: none
}

.smallnav {
    display: block
}

.smallsearch {
    margin-left: 15px;
    margin-top: 15px
}

.menu {
    cursor: pointer
}

        /*---------------------------------------
           Social section
        -----------------------------------------*/
        footer {
          padding: 0px 0px 0px 0px;
          background-color: black;
          margin: 0px;
        }


        #ftr {

          padding: 20px;
        }

        .fa {

          font-size: 23px;
          width: 60px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
        }

        .fa:hover {
          opacity: 0.5;
          text-decoration: none;
        }

        .fa-facebook {
          background: #3B5998;
          color: white;
          margin-top: 30px;
        }

        .fa-whatsapp {
          background: #25d366;
          color: white;
        }

        .fa-twitter {
          background: #55ACEE;
          color: white;
        }

        .fa-instagram {
          background: #125688;
          color: white;
        }

        p {
          text-align: center;

        }


@media screen and (min-width: 768px) {
    .largenav {
        display: block
    }

    .smallnav {
        display: none
    }

    .smallsearch {
        margin: 0px
    }
}